body{
    margin: 0;
    padding: 0; 
    max-width: 1928px; 
    max-height: 580px; 
    font-family: 'poppins', sans-serif;
    display:flex; 
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background: rgb(2, 2, 2);
}
p{
    font-size: 8px;
    line-height: 8px;
    text-align: justify;
    background: url(ey.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
}